#detailsId{
    width: 50%;
    border-style: solid !important;
    border-width: 1px;
    margin-top: 5%;
    
}

#resultsId{
    width: 50%;
    border-style: solid !important;
    border-width: 1px;
    margin-top: 5%;
    
}

